.header{
    background-color: #394455;
    height: 60px;
    color: #fff;
    margin-bottom: 100px;
    box-shadow: 0px 0px 5px #000;
    font-family: 'Open Sans' sans-serif;
}
.header>.container{
    height: 100%;
}.header>.container>.row{
    height: 100%;
    align-items: center;
    justify-content:space-between
}
.logo{
    display: block;
    width: 60px;
    height: 30px;
    background-image: url(../images/physics.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.menu{
    height: 100%;
    display: flex;
    align-items: center;
}
.info-button,.main-button{
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 20px;
    height: 100%;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}
.info-button:hover, .main-button:hover{
    border-bottom: 3px solid #2196f3;
    background-color: #ffb74d;
}
.info-button::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/open-book.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.link-active{
    color: rgb(39, 236, 39);
}
.item{
    display: block;
    width: 20px;
    height: 20px;
    margin:0px 7px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.vk{
    background-image: url(../images/vk.svg);
}
.gmail{
    background-image: url(../images/gmail.svg);
}
.cal{
    background-image: url(../images/call.svg);
}
