.simulator {
    max-width: 900px;
    margin: 0 auto;
}
.control{
    display: flex;
}

.text__editor {
    height: 300px;
    padding: 30px 20px;
    background-color: #fff;
    letter-spacing: 1px;
    border-radius: 10px;
}

/* введенный текст */
pre{
    display: inline;
    letter-spacing: none;
    white-space: pre-wrap;
    font-family: inherit;
}


.prev-chars {
    color: rgb(152, 196, 94);
}
.next-chars {
    color: rgb(75, 75, 75);
}
.correct-cursor {
    color: #fff;
    background-color: rgb(152, 196, 94);
    border-radius: 2px;
}

.uncorrect-cursor {
    color: #fff;
    border-radius: 2px;
    background-color: rgb(185, 34, 34);
}
