.simulator {
    max-width: 900px;
    margin: 0 auto;
}

.text__editor {
    height: 300px;
    padding: 30px 20px;
    background-color: #fff;
    letter-spacing: 1px;
    border-radius: 10px;
}

/* введенный текст */

pre {
    display: inline;
    letter-spacing: none;
    white-space: pre-wrap;
    font-family: inherit;
}

.prev-chars {
    color: #4caf50;
}

.next-chars {
    color: rgb(75, 75, 75);
}

.correct-cursor {
    color: #fff;
    background-color: #4caf50;
    border-radius: 2px;
}

.uncorrect-cursor {
    color: #fff;
    border-radius: 2px;
    background-color: #d32f2f;
}

.control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px 30px;
}

.run button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    color: #909090;
    cursor: pointer;
}
.run button:hover{
    color: rgb(109, 66, 122);
}
.run i{
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url(../images/reset.svg);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: center;
    margin-right: 5px;
}

.accuracy{
    font-size: 20px;
    color: #909090;
    text-align: center;
}
.accuracy p{
    position: relative;
    padding-left: 30px;
}
.accuracy-icon::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/accuracy.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.speed-icon{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/pencil.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.accuracy div{
    font-size: 30px;
    color: #1976d2;
    font-weight: 600;
    margin-bottom: 10px;
}
.cl{
    font-size: 14px;
}